$main-color:#F9FAFB;
$mar:20%;
$btnwid:fit-content;
$btnheight:40px;
$pad:5px;
$main-color:#F9FAFB;
$bor-rad:40px;
$bor:1px solid #C5C8CC;
$mar-bot:30px;
$marBtn:30px;
$a_color:#4B5563;


$font-family: "Cedarville Cursive", serif;
$font-weight:bold;
$font-style: normal;
$text-decoration: none;
$font-size: 23px;

