
    <div class="container pt-3 mb-5 text-center">
        <div class="row">
           <div class="col-md-10">
            <h2>Learn, Cook, Eat Your Food</h2> 
            <button><a routerLink="all">All</a></button>
            <button><a routerLink="beef">Beef</a></button>
            <button><a routerLink="breakfast">Breakfast</a></button>
            <button><a routerLink="chicken">Chicken</a></button>
            <button><a routerLink="dessert">Dessert</a></button>
            <button><a routerLink="goat">Goat</a></button>
            <button><a routerLink="lamb">Lamb</a></button>
            <button><a routerLink="miscellenus">Miscellenus</a></button>
            <button><a routerLink="pasta">Pasta</a></button>
            <button><a routerLink="park">Park</a></button>
            <button><a routerLink="seafood">Sea food</a></button>
            <button><a routerLink="side">Side</a></button>
            <button><a routerLink="starter">Starter</a></button>
            <button><a routerLink="vegan">vegan</a></button>
            <button><a routerLink="vegetrian">vegetrian</a></button>
           </div>
        </div>
    </div>
